/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* enable absolute positioning */
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  padding-top: 17px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.menu {
	padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 2px;

     }

.news {
	border-style: solid; 
	border-width: 1px;
	height: 300px;
	padding: 10px; 
	margin: 5px;
	float: left;

}


.footer {
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
    height: 40px;
    margin: 0px;
    border-radius: 0.3em;

}

.dropdown:hover .dropdown-menu {
    display: block;

 }

