<!DOCTYPE html>
<html ng-app = 'app'>
  <head>
    <title>BootstrapCode</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="application.css">
  </head>

  
  <body ng-controller="FreshlyController">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">        
            <div class="inner-addon left-addon menu">
              <i class="glyphicon glyphicon-search"></i>
              <form ng-submit="search()">
                  <input type="text" ng-model="search_term" class="form-control" placeholder = "Search" />
              </form>
            </div>
        </div>


        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                
        </button>        

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav" >
            <li class="active"><a ng-click="show_home();" style="width:160px; text-align:center;">Home</a></li>
            <li class="dropdown" > 
              <a class="dropdown-toggle" data-toggle="dropdown" style="width:160px; text-align:center;">Categories 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="category in categories">
                  <a ng-click="show_category(category);">{{category}}</a>
                </li> 
              </ul>
            </li>           
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>

        </div>
      </div>
    </nav>
  
    <div class="container">
      <div class="jumbotron">
        <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-circle center-block" alt="Cinque Terre" width="304" height="180">
      </div>

      <div class="row" ng-show="show_top_news" style="margin-left: 1px;">
        <div class="col-md-3 col-xs-11 news" ng-repeat="news_show in news">
          <div>
            <a href="{{news_show.url}}">{{news_show.title}}</a>
          </div>
        </div>
      </div>

      <div class="row" ng-show="show_bool_category" style="margin-left: 1px;">
        <div class="col-md-3 col-xs-11 news" ng-repeat="news_category_show in news_category">
          <div>
            <a href="{{news_category_show.url}}">{{news_category_show.title}}</a>
          </div>
        </div>
      </div>

      <div class="row" ng-show="show_all" style="margin-left: 1px;">
        <div class="col-md-3 col-xs-11 news" ng-repeat="news_elem_all in retrieve_news_all()">
          <div>
            <a href="{{news_elem_all.url}}">{{news_elem_all.title}}</a>
          </div>
        </div>
      </div>

      <div class="row" ng-show="show_search" style="margin-left: 1px;">
        <div class="col-md-3 col-xs-11 news" ng-repeat="search_result in search_results">
          <div>
            <a href="{{search_result.url}}">{{search_result.title}}</a>
          </div>
        </div>
      </div>

    </div>


    <ul class="pager">
      <li >
        <a style="margin-right:85px;" ng-click="show_all();"> Show All </a>
      </li>
    </ul>


    <div class="footer" >        
      <a style="color:white">Terms and Conditions</a>
    </div>

    
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.js"></script>
  <script src="app.js"></script>

</body>
</html>
